.footer {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: 0;
  z-index: 3;
  font-size: 1.4rem;

}

.footer__para {
  color: var(--form-background-color);
}

.footer__link {
  text-decoration: none;
  color: var(--primary-button-background);
}