.row {
  max-width: var(--main-container-max-width);
  margin: 0 auto;
  position: relative;
}

.row .row__col-1-of-2 {
  width: calc((100% - var(--gutter-horizontal-width)) / 2);
}

.row .row__col-1-of-3 {
  width: calc((100% - 2 * var(--gutter-horizontal-width)) / 3);
}

.row .row__col-2-of-3 {
  width: calc(2 * (100% - 2 * var(--gutter-horizontal-width)) / 3 + var(--gutter-horizontal-width));
}

.row::after {
  content: "";
  display: table;
  clear: both;
}


.row [class^=row__col-]:not(:last-child) {
  margin-right: var(--gutter-horizontal-width);
}

.row [class*=row__col-] {
  float: left;
}