.row {
  max-width: 125.2rem;
  margin: 0 auto;
}

.row .row__col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.row .row__col-1-of-3 {
  width: calc((100% - 2 * 3.2rem) / 3);
}

.row .row__col-2-of-3 {
  width: calc(2 * (100% - 2 * 3.2rem) / 3 + 3.2rem);
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^=row__col-] {
  float: left;
  background-color: lightgrey;
}

.row [class^=row__col-]:not(:last-child) {
  margin-right: 3.2rem;
}